body {
	background-color: black;
}
header {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Nosifer', cursive;
	color: #830303;
}
button {
	display: block;
	width: 200px;
	height: 50px;
	border: 2px solid #830303;
}
h1 {
	font-family: 'Creepster', cursive;
	text-align: center;
	font-size: 50px;
	color: #830303;
	text-decoration-line: underline;
}
p {
	font-family: 'Creepster', cursive;
	font-size: 25px;
	color: #830303;
}
img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }
.deck img {
	height: 150px;
	width: 150px;
} 
.outside {
	background-color: black;
	color: #830303;
	font-family: 'Nosifer', cursive;
	font-size: 20px;
	margin-top: 50px;
}
.inBetween {
	background-color: black;
	color: #830303;
	font-family: 'Nosifer', cursive;
	font-size: 20px;
}
.dealer {
	background-color: black;
	color: #830303;
	font-family: 'Nosifer', cursive;
	font-size: 20px;
	left: 10px;
	margin-bottom: 10px;
}
.reset {
	background-color: black;
	color: #830303;
	font-family: 'Nosifer', cursive;
	font-size: 20px;
}
.main {
	display: flex;
	justify-content: space-between;
}
.mainImg {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	position: absolute;
	margin-top: 20%;

}
.buttons {
	width: 300px;
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cards {
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
}
.cards div {
	height: 50%;
}
.cards div img{
	height: 150px;
	width: 110px;
}
.deck {
	width: 300px;
	height: 650px;
}
.cards {
	height: 650px;
	width: 900px;
}
#first-d {
	display: flex;
	text-align: center;
	margin-bottom: 20%;
	justify-content: space-around;
	margin-right: 10%
}
.winner {
	color: #830303;
	font-family: 'Nosifer', cursive;
	font-size: 80px;
	text-align: center;

}
.loser {
	color: #830303;
	font-family: 'Nosifer', cursive;
	font-size: 80px;
	text-align: center;
}
.tie {
	color: #830303;
	font-family: 'Nosifer', cursive;
	font-size: 80px;
	text-align: center;
}




 







